.headerDescktop {
  height: 110vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: black;
  gap: 15px;
}

.descktopImage {
  width: 45vw;
  height: 100%;
  background-image: url('/lara01_resized.PNG');
  background-size: cover;
  background-position: center;
}

.descktopContainer {
  width: 43vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descktopTitle {
  margin-top: 28px;
  color: white;
  font-size: 24px;
  line-height: 30px;
  font-family: 'EB Garamond';
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 8px;
} 

.container {
  height: 100%;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.descktopSubTitle {
  color: rgb(233, 211, 121);
  font-weight: 600;
  font-family: 'EB Garamond';
  font-size: 24px;
  line-height: 1.1;
  text-align: center;
}

.descktopText {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
}

.descktopText span {
  color: rgb(233, 211, 121);
}

.button {
  background-image: linear-gradient(rgb(233, 211, 121), rgb(124, 109, 48));
  color: white;
  padding: 15px 10px;
  font-size: 16px;
  font-weight: 700;
}

.attention {
  color: rgb(233, 211, 121);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3; 
  text-align: center;
  margin-top: 30px;
}

@media only screen and (max-width: 700px) {
  .title {
    margin-top: 28px;
    color: white;
    font-size: 24px;
    line-height: 30px;
    font-family: 'EB Garamond';
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .headerContainer {
    min-height: 120vh;
    background-color: black;
    transition: background-color 0.5s ease; 
  }
  
  .logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .container {
    padding: 15px;
    width: 100%;
    background-image: linear-gradient(to top, black, #001b24); /* Gradiente linear de preto para dourado */
    transition: background-image 0.5s ease; 
  }
  
  .subTitle {
    color: rgb(233, 211, 121);
    font-weight: 600;
    font-family: 'EB Garamond';
    font-size: 23px;
    line-height: 1.1;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 20px;
  }
  
  .text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
  }

  .attention {
    margin-top: 20px;
    font-size: 15px;
  }

  .headerContainerImage {
    height: 60vh;
    width: 100%;
    background-image: url('/lara01.PNG');
    background-size: cover;
    opacity: 0.8;
    transition: opacity 0.5s ease;
  }

  .headerContainer:hover .headerContainerImage {
    opacity: 1;
  }
}