@media only screen and (max-width: 900px) {
  .beneficieCardMobile {
    height: 140vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: black;
    background-image: url('/lara02.PNG');
    background-size: cover;
    background-position: center;
  }

  .beneficieCardMobileTitle {
    margin-top: 30px;
    font-size: 26px;
    font-weight: 700;
    color: rgb(233, 211, 121);
    font-family: 'EB Garamond';
  }

  .sectionTexts {
    width: 85%;
    margin-top: 30px;
  }

  .textMobile {
    text-align: center;
    font-weight: 500;
    font-size: 21px;
    color: #ECECEC;
    margin-top: 10px;
    font-family: 'EB Garamond';
  }

  .spanText {
    color: rgb(233, 211, 121);
    font-family: 'EB Garamond';
  }

  .informations {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .buttonMobile {
    background-image: linear-gradient(rgb(233, 211, 121), rgb(124, 109, 48));
    color: white;
    padding: 15px 10px;
    font-size: 16px;
    font-weight: 700;
    margin: auto;
  }

  .textAlert {
    color: rgb(233, 211, 121);
    font-family: 'EB Garamond';
    text-align: center;
    font-size: 18px;
  }
}