.beneficieCardDescktop {
  height: 120vh;
  background-color: #001b24;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.imageDescktop {
  width: 40%;
  height: 100%;
  background-image: url('/lara02.PNG');
  background-size: cover;
  background-position: center;
}

.textsDescktop {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descktopTitle {
  margin-top: 12px;
  font-size: 28px;
  font-weight: 700;
  color: rgb(233, 211, 121);
  font-family: 'EB Garamond';
  text-align: center;
}

.cardTexts {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 85%;
  margin-top: 10px;
}

.descktopText {
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 500;
  color: #ECECEC;
  font-family: 'EB Garamond';
}

.descktopText span {
  color: rgb(233, 211, 121);
}

.descktopInformations {
  margin-top: 19px;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.descktopButton {
  background-image: linear-gradient(rgb(233, 211, 121), rgb(124, 109, 48));
  color: white;
  padding: 18px 25px 18px;
  font-size: 18px;
  font-weight: 700;
  margin: auto;
}

.descktopAlert {
  color: rgb(233, 211, 121);
  font-family: 'EB Garamond';
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  margin-top: 14px;
}

@media only screen and (max-width: 900px) {
  .beneficieCardMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: linear-gradient(to top, black, #001b24);
  }

  .imageBackgroundMobile {
    background-image: url('/lara02.PNG');
    background-size: cover;
    background-position: center;
    height: 73vh;
    width: 100%;
  }

  .sectionInformations {
    min-height: 90vh;
    width: 100%;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .beneficieCardMobileTitle {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 700;
    color: rgb(233, 211, 121);
    font-family: 'EB Garamond';
  }

  .sectionTexts {
    width: 95%;
    margin-top: 5px;
    padding: 5px 5px;
  }

  .textMobile {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #ECECEC;
    margin-top: 10px;
    font-family: 'EB Garamond';
  }

  .spanText {
    color: rgb(233, 211, 121);
    font-family: 'EB Garamond';
  }

  .informations {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .buttonMobile {
    background-image: linear-gradient(rgb(233, 211, 121), rgb(124, 109, 48));
    color: white;
    padding: 15px 10px;
    font-size: 16px;
    font-weight: 700;
    margin: auto;
  }

  .textAlert {
    color: rgb(233, 211, 121);
    font-family: 'EB Garamond';
    text-align: center;
    font-size: 16px;
  }
}